.buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    .btnfilter {
      width: 100px;
      height: 30px;
      font-family: "Open Sans";
      font-size: 9px;
      text-align: center;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.164);
      border: 4px solid #6B63B5;
    }
    .btnfilter :hover {
      background: white;
      border: 4px solid #6B63B5;
    } 
  }