.character-card {
    width: 140px;
    height: 181px;
    top:   1711px;
    left: -579px;
    blend: Pass through;
}

.character-card-photo{
    // width: auto;
    // height: auto;
    max-width: 70,8px;
    max-height: 96,31px;
    display: flexbox;
    
    // position: absolute;
    // left: 23.72%;
    // right: 25.71%;
    // top: 2.75%;
    // bottom: 44.04%;
    
    // background: url(image.png);
}