@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");

body {
  background: #000000;
  text-align: center;
}

.App {
  background: #000000;
  background-image: url("https://fotografias.antena3.com/clipping/cmsimages02/2016/12/19/2EE113FB-4B38-40C5-B086-857D6B8E7967/default.jpg?crop=2048,1152,x0,y37&width=1900&height=1069&optimize=low");
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 31em;
  width: 100%;

  .App-header {
    font-family: "Mountains of Christmas", cursive;
    font-size: 30px;
    color: white; 
  }

  .App-header {
    font-family: "Mountains of Christmas", cursive;
    font-size: 30px;
    color: white; 
  }

  .App-title {
    font-family: "Open Sans";
    font-size:  25px;
    color: white; 
  } 
  
  }




@media(max-width: 375px) {
  .App{
    background: #000000;
  }

  .App-header {
    font-family: "Mountains of Christmas", cursive;
    font-size:  30px;
    color: white; 
  }
  .App-title {
    font-family: "Open Sans";
    font-size:  25px;
    color: white; 
  } 
  


}